<figure class="graphic brand push-1-2">
  <div class="embed">
    <img class="embed-item flex-img" src="{{ site.images-bucket-url }}{{ image.fullsizeFilename }}" alt="{{ image.title }}">
    {% if 'album-view' == include.loadType  %}
       <div class="graphic-overlay-container icon-link">
        <div class="graphic-overlay">
          <i class="icon i-32 i-add"></i>
        </div>
      </div>
    {% endif %}
  </div>
  <figcaption class="pad-t brand micro gutter {% if false == page.display-image-info %}visually-hidden{% endif %}">
    <h3 class="push-0 micro brand-highlight">{{ image.title | strip | upcase }} {% if image.date-created %}({{image.date-created}}){% endif %}</h3>
    {% if image.materials %}
      <p class="push-0">{{ image.materials }}</p>
    {% endif %}
    {% if image.dimensions %}
      <p class="push-0">{{ image.dimensions }}</p>
    {% endif %}
    {% if image.description %}
      <div class="push-0 p-container">{{ image.description }}</div>
    {% endif %}
  </figcaption>
</figure>
