---
layout: default
---

{% assign image = page %}

<section class="{{page.sectionClass}} pad-t pad-b">

  <div class="restricted-content">

    <div class="content-container island-1-2 gutter-2 brand-color-light">
      <div class="grid">
        <div class="unit [ xs-1 s-1 l-1 ]">
          <h1 class="page-title brand brand-highlight push-1-2 peta">{{ page.title | capitalize }}</h1>
          <div class="page-info push-0 milli p-container">{{ content | markdownify }}</div>
        </div>
      </div>
    </div>

  {% if false %}
      <div class="album-image pad-t-1-2">
        <div class="grid">
          <div class="unit [ xs-1 m-2-3 ] ">
            {% include image.html %}
          </div>
          <div class="unit [ xs-1 m-1-3 ]">
            {% include forms/form-contact-price.html %}
          </div>
        </div>
      </div>
  {% else %}

    {% include image-with-sidebar-form-contact-price.html %}

  {% endif %}

  {% if false %}
    {% if page.displaySocialMediaShareButtons %}
    <div class="content-container gutter brand-color-light">
      <div class="social-share-buttons">
        {% include social-share-buttons-with-overlay.html %}
      </div>
    </div>
    {% endif %}
  {% endif %}

    {% if page.includeAlbumImagesGrid %}
      <div class="island-2">
        <hr class="hr pad-b-1-4">
      </div>
    {% endif %}

  </div>

</section>

<div class="restricted-content">

  {% if page.includeAlbumImagesGrid %}
    {% include album-images-grid.html %}
  {% endif %}

</div>
