
<div class="gutter">

  <h3 class="brand-highlight brand-color-light kilo push-1-2">
    Contact For Price
  </h3>

  <form class="form form-contact-price" data-title="form-contact-price" method="POST" action="https://formspree.io/{{site.contact-info.e-mail}}">

  <div class="form-contact-price-notification hidden push-1-2 gutter-1-2 pad-t-1-4 pad-b-1-4 milli"></div>

    <div class="field-list">

      <fieldset class="form-item form-contact-price--full-name push-1-4 milli required">
        <legend class="hidden">Name</legend>
        <div class="">
          <label class="title milli hidden" for="form-contact-price--full-name">Full name <span class="required">*</span></label>
            <input class="field-element text island-1-4" type="text" placeholder="Your full name *" x-autocompletetype="name" type="text" spellcheck="false" maxlength="60" data-title="form-contact-price--full-name" name="form-contact-price--full-name" id="form-contact-price--full-name" tabindex="1" />
          </label>
        </div>
      </fieldset>

      <fieldset class="form-item form-contact-price--email-address push-1-4 milli required">
        <legend class="hidden">E-mail</legend>
        <div class="">
          <label class="title milli hidden" for="form-contact-price--email-address">Email Address <span class="required">*</span></label>
          <input class="field-element text island-1-4" type="email" placeholder="Your e-mail address *" x-autocompletetype="email-address" spellcheck="false" data-title="form-contact-price--email-address" name="form-contact-price--email-address" id="form-contact-price--email-address" tabindex="2" />
        </div>
      </fieldset>

      <fieldset class="form-item form-contact-price--message push-1-4 milli required">
        <legend class="hidden">Message</legend>
        <div class="">
          <label class="title milli hidden" for="form-contact-price--message">Message <span class="required">*</span></label>
<textarea class="field-element text island-1-4" data-title="form-contact-price--message" name="form-contact-price--message" id="form-contact-price--message" tabindex="3" >
Hi, I’m interested in purchasing this work.
Could you please provide more information about the piece?</textarea>
        </div>

      </fieldset>

    </div>

    <div class="form-button-wrapper">
      <input class="button gutter-2 pad-t-1-4 pad-b-1-4 form-btn milli" type="submit" value="Contact"/>
    </div>

    <input class="hidden" text="text" name="artwork_title" value="{{ page.title }}" />
    <input class="hidden" type="text" name="_format" value="plain" />
    <input class="hidden" type="hidden" name="_subject" value="Artwork enquiry from {{site.title}}" />
    <input class="hidden" type="hidden" name="_next" value="{{site.baseurl}}/contact-thank-you/" />
    <input class="hidden" type="text" name="_replyto" placeholder="{{site.email}}" />

  </form>

</div>
